.ChatRoomContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1.4fr;
  grid-template-rows: 5.7fr 1.3fr;
  grid-auto-columns: 1fr;
  gap: 5px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "MessagesList"
    "NewMessageBox";
}

.MessagesList {
  grid-area: MessagesList;
  width: auto;
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 1%;
  min-height: 0;
  border-color: yellow;
  display: inline-block;
  border-style: solid;
  border-width: 5px;
  overflow-x: hidden;
}

.NewMessageBox {
  grid-area: NewMessageBox;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0;
  top: 0;
  border-color: royalblue;
  border-style: solid;
  border-width: 5px;
}
